.login-form-wrapper {
	margin: auto !important;
	max-width: 350px;
	border-radius: 2px;
	border: 0;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
	background-color: #ffffff;
	font-weight: 600;
}
.ant-card-head-title {
	text-align: center;
	font-weight: 700;
	color: #525252;
}

.login-form-wrapper .ant-card-body {
	padding-bottom: 0;
}

.login-form {
	max-width: 350px;
}
.login-form-forgot {
	float: right;
}
.login-form-button {
	width: 100%;
	font-weight: 700 !important;
	background-color: #0f9d58 !important;
	border: 0 !important;
}
.vidgyor-logo {
	margin: 120px auto 24px auto;
	display: flex;
}
.ant-btn-primary {
	background-color: #0052cc;
	font-weight: 700;
	transition: 0.2s all linear;
}
.ant-btn-primary:hover {
	background-color: rgb(0, 82, 150);
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
}
.ant-divider {
	margin-top: 8px;
	margin-bottom: 8px;
}
.ant-input {
	background-color: #fafbfc;
	border: 1.5px solid #d5d5d5;
	font-weight: 500;
}
