/* @import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap"); */
@import "~antd/dist/antd.css";

@font-face {
	font-family: "GoogleSansRG";
	src: url("utils/assets/fonts/GoogleSansDisplayRegular.ttf");
}

body {
	overflow-x: hidden;
	font-family: "GoogleSansRG" !important;
	background-color: #fafbfc;
}

.ant-layout-sider-dark,
.ant-menu-dark {
	background-color: #18202c !important;
	color: #fff;
}

.ant-layout-sider {
	min-height: 100vh;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.ant-drawer-header {
	background-color: #fafafa !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
